
<div class="container">
    <div class="row">
        <div class="col-sm-6" *ngFor="let card of cards">
            <div class="card">
                <img class="card-img-top image" [src]=card.image alt="Card image cap">
                <div class="card-body">
                    <h1 class="card-title ">{{card.group_name}}</h1>
                    <p class="card-text">Redeems: {{card.no_of_redeems}}</p>
                </div>
                    <a routerLink="/redeem-points" class=" button btn btn-primary">{{card.points_scored}} points</a>
            </div>
        </div>
    </div>
  </div>  -