<div>
    <div class="container redeem-section">
        <div class="redeem-info">
            <h1 class="row"class="info-title"> Redeem Points</h1>
            <p  class="row"class="info-description"> Got too many keys with you? paste'em  in their respective boxes </p>
        </div>
        <form>
            <div class="form-group">
              <label for="groupKey">Secret Group Key</label>
              <input type="email" class="form-control" id="groupKey"placeholder="Enter Group Key">
              <small id="emailHelp" class="form-text text-muted">vere group key ittu alambakkaruth.</small>
            </div>
            <div class="form-group">
              <label for="pointsKey">Points Key</label>
              <input type="text" class="form-control" id="pointsKey" placeholder="Enter Points Key">
            </div>
            <button type="submit" class="btn btn-primary">Redeem</button>
          </form>

    </div>
</div>
