@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@900&family=Nunito&display=swap');


.floating-card{
    background-color: #f8f8f8;
    left: 50%;
    top: 50%;
    border-radius: 25px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 22px;
    box-shadow: 0 12px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background: #fff
    url("src/assets/home-card-bg.svg");
    background-size: cover;
    background-repeat: no-repeat
}
.title {
    font-family: kanit;
    font-weight: lighter;
    color: brown;
    border:2px;
    text-shadow: 2px 2px 5px black;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #ffde59;
}
.desc {
    font-family: Nunito;
}
.empty-space {
  padding-top: 50px;
  padding-bottom: 50px;
}

.avatar {
    vertical-align: middle;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    box-shadow: 0 12px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  .extra-padding {
      padding-bottom: 20px;
  }

  .carousel-inner {
    width: 100%;
  }
  .text {
      margin-bottom: 40px;
  }

  .row {
      text-align: center;
  }

  .col-md-1 {
    display:inline-block;
  }
  button {
    display: block;
    text-decoration: none;
    background-color: #ff8041;
    padding: 12px;
    border: none;
    border-radius: 25px;
    font-family: kanit;
    font-size: 45px;
    font-weight: 700;
    min-width: 200px;
    transition: 0.2s;
    border-width: 10px;
    border-color: yellow;
    color: #ffde59;
    text-shadow: 2px 2px 5px brown;
    box-shadow: 0 12px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
