.info {
    padding-top: 15%;
    left: 4%;
}
.container{
    background-color: #f8f8f8;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 25px;
    padding: 10px;
    box-shadow: 0 12px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    
  }
.image {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: unset;
}
