<div>
    <div class="container">
        <div class = "row">
            <div class="col info">
                <div class="info-title">
                    <h1>What is FRIDAY FUNDAY?</h1>
                </div>
                <div class="info-description">
                    <p>The core foundation of any team is the collaboration between team members. we created this initiative to bring us all together amidst the pandemic situation. LETS Rock N Rollll</p>
                </div>
                <button mat-raised-button color="primary" routerLink="/view-scores">View Scores</button>
                
            </div>   
        <div class=" col image">
            <img src="assets/funday.jpg"/>
        </div>
        </div>
    </div>
</div>
