.floating-card{
    background-color: #f8f8f8;
    left: 50%;
    top: 50%;
    border-radius: 25px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 50px;
    box-shadow: 0 12px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.empty-space {
    padding-top: 50px;
    padding-bottom: 50px;
}

.avatar {
    vertical-align: middle;
    width: 200px;
    height: 200px;
    border-radius: 50%;
  }

  .extra-padding {
      padding-bottom: 20px;
  }

  .carousel-inner {
    width: 100%;
  }

  .row {
      text-align: center;
  }

  .col-md-1 {
    display:inline-block;
  }