<div class="container mx-auto empty-space">
    <div class="floating-card">
        <div class="row align-items-center">
            <div class="col align-self-center">
                <h1 class="text-left">Why Friday Funday?</h1>
                <p class="text-justify w-80">The core foundation of any team is the collaboration between team members. we
                    created this
                    initiative
                    to bring us all together amidst this pandemic situation. <br>Are you ready to Rock N Roll?</p>
                <button class="btn btn-primary font-weight-bold" routerLink="/view-scores">View Scores</button>

            </div>
            <div class="col align-self-center">
                <img class="img-fluid" src="assets/fridayfunday.png" />
            </div>
        </div>
    </div>
    <div class="floating-card empty-space">
        <div class="row">
            <h1 class="mx-auto extra-padding">Our Sponsors</h1>
        </div>
        <div class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item" *ngFor="let sponsorSet of sponsors; let i = index" [ngClass]="{'active': i == 1}" >
                    <div class="row align-center">
                        <div *ngFor="let sponsor of sponsorSet" class="col">
                            <img class="avatar" [src]="sponsor?.image"/>
                            <h4>{{sponsor?.name}}</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>