<div class="container mx-auto empty-space">
    <div class="floating-card">
        <div class="row align-items-center">
            <div class="col align-self-center">
               <div class="text">
                <h1 class="title text-left">Why Friday Funday?</h1>
                <p class="text-justify w-80 desc">The core foundation of any team is the collaboration between team members. we
                    created this
                    initiative
                    to bring us all together amidst this pandemic situation. <br>Are you ready to Rock N Roll?</p>
               </div>
                <button class="button" routerLink="/view-scores">View Scores</button>

            </div>
            <div class="col align-self-center">
                <img class="img-fluid" src="assets/fridayfunday.png" />
            </div>
        </div>
        
    <div class="floating-card empty-space">
        <div class="row">
            <h1 class="mx-auto extra-padding">Our Sponsors</h1>
        </div>
        <app-carousel [itemSet]="sponsors"></app-carousel>
    </div>
    </div>
    
</div>