<nav class="navbar navbar-expand-md navbar-dark">
    <div class="container">
        <a class="navbar-brand font-weight-bold" routerLink="/">Friday Funday</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
            aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">

                <li class="nav-item">
                    <a class="nav-link font-weight-bold" routerLink="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link font-weight-bold" routerLink="/view-scores">Scores</a>
                </li>

            </ul>

            <button class="btn button btn-primary font-weight-bold" routerLink="/redeem-points">Redeem points</button>

        </div>
    </div>
</nav>